body{
    font-family: 'Montserrat', sans-serif;
}
.clearfix{
    overflow: auto;
}
.navbar{
    background-image: url("../img/Sections background/section-1.png");
    background-size: cover;
    width: 1900px;
    height: 1012px;
    margin-top: -8px;
    margin-left: -8px;
}
.container-nav{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 1, 1, 0.4);
    width: 1900px;
    height: 120px;
}
.nav-logo{
    display: flex;
    flex-direction: row;
    margin-left: 402px;
}
.header-link{
    text-decoration: none;
}
.header-link-logo{
    text-decoration: none;
    margin-left: 20px;
}
.logo-letter{
    position: center;
    margin-left: 13px;
}
.hexagon{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    background-image: url("../img/logo-bg.png");
    width: 58px;
    height: 67px;
    padding-top: 7px;
    background-repeat: no-repeat;
    margin-top: 26px;
    margin-bottom: 27px;
}
.nav-header-text{
    color: #18CFAB;
    font-weight: bold;
    font-size: 32px;
    margin-left: 6px;
    margin-top: 40px;
}
.nav-header-text-white{
    color: white;
    font-size: 28px;
    font-weight: normal;
}
.nav-list{
    display: flex;
    flex-direction: row;
    margin-left: 105px;
    margin-top: 27px;
}
.nav-item{
    text-transform: uppercase;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}
.nav-link:hover{
    color: #18CFAB;
    border: 2px solid #18CFAB;
    padding-bottom: 46px;
    border-left: none;
    border-top: none;
    border-right: none;
}
.welcoming-text{
    display: flex;
    flex-direction: column;
    margin-top: 350px;
    margin-left: -930px;
}
.welcoming-paragraph{
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    display: flex;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 85px;
}
.welcoming-green{
    color: #18CFAB ;
    margin-left: 7px;
}
.welcoming-h{
    font-weight: bold;
    font-size: 80px;
    line-height: 1px;
    display: flex;
    text-transform: uppercase;
    color: #FFFFFF;
}
.little-welcoming-paragraph{
    text-transform: capitalize;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
    margin-left: 7px;
    margin-top: 0;
}
.buttons{
    margin-top: 200px;
}
.green-btn{
    width: 170px;
    height: 63px;
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    border-radius: 6px;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    margin-left: 220px;
    margin-right: 25px;
    border-top: 6px solid #FFFFFF;
}
.blue-btn{
    width: 170px;
    height: 63px;
    background-color: #00CBF6;
    border: 1px solid #00CBF6;
    border-radius: 6px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    border-top: 6px solid #FFFFFF;
}
.hr1{
    width: 167px;
    height: 4px;
    background: white;
    border-radius: 6px;
}
.hr2{
    width: 167px;
    height: 4px;
    background: white;
    border-radius: 6px;
}
.hr3{
    width: 167px;
    height: 4px;
    background: white;
    border-radius: 6px;
}
.hrs{
    display: flex;
    flex-direction: row;
}
.green{
    margin-top: -1px;
    width: 492px;
    height: 10px;
    color: #18CFAB;
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    margin-left: -4px;
}
.standard{
    width: 482px;
    height: 10px;
    color: white;
    background-color: white;
    border: 1px solid white;
}
.options-blocks{
    display: flex;
    flex-direction: row;
    margin-left: -8px;
    margin-top: -17px;
}
.darkgreen-block{
    width: 500px;
    height: 367px;
    background: #1C2A33;
}
.green-block{
    width: 482px;
    height: 367px;
    background: #18CFAB;
}
.option-text{
    margin-left: 127px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}
.option-text-green{
    margin-left: 127px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: bold;
    margin-top: 50px;
}
.fontaw{
    color: white;
    margin-left: 175px;
    margin-top: 106px;
}
.green-fontaw{
    color: #18CFAB;
    margin-left: 200px;
    margin-top: 106px;
}
.our-services{
    margin-top: 80px;
}
.template-text{
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    margin-left: 802px
}
.template-hr-item1{
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    border: 1px #18CFAB;
    margin-left: 875px;
}
.template-hr-item2{
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    border: 1px #18CFAB;
    margin-left: 885px;
    margin-top: -5px;
}
.menu-list{
    display: flex;
    flex-direction: row;
    margin-left: 285px;
    margin-top: 75px;
}
.menu-block{
    display: none;
}
.menu-block.active{
    display: block;
}
.menu-item{
    background: #F8FCFE;
    border: 2px solid #EDEFEF;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #717171;
    list-style-type: none;
    width: 192px;
    height: 42px;
    padding-top: 25px;
}
.menu-item:hover{
    border: 2px solid #18CFAB;
}
.menu-item.active{
    background: #18CFAB;
    color: white;
}
.menu-info{
    display: flex;
    flex-direction: row;
    margin-left: 323px;
    margin-top: 45px;
}
.menu-img{
    width: 194px;
    height: 139px;
}
.menu-text{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    margin-top: -145px;
    width: 956px;
    height: 136px;
    line-height: 24px;
    margin-left: 210px;
}
.purchase-now{
    background-image: url("../img/Sections background/section-2.jpg");
    background-repeat: no-repeat;
    width: 1900px;
    height: 576px;
    margin-left: -8px;
}
.purchase-header{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 150px;
    padding-top: 84px;
}
.purchase-text{
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #D8D8D8;
}
.green-btn3{
    width: 170px;
    height: 63px;
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    border-radius: 6px;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    margin-left: 870px;
    margin-top: 100px;
    border-top: 6px solid #FFFFFF;
}
.our-work{
    margin-top: -110px;
    margin-left: -8px;
    background: #F8FCFE;
    width: 1890px;
}
.template-hr-item3{
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    border: 1px #18CFAB;
    margin-left: 930px;
}
.template-hr-item4{
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    border: 1px #18CFAB;
    margin-left: 945px;
    margin-top: -5px;
}
.am-work{
    padding-top: 100px;
}
.filter-tabs-list{
    display: flex;
    flex-direction: row;
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.filter-tabs-item{
    border: 2px solid #F0F0F0;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.filter-tabs-item:hover{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.filter-tabs-item.active{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.services-list{
    margin-left: 390px;
}
.creative-design{
    width: 285px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: -7px;
}
.cd-design{
    display: flex;
    flex-direction: row;
    margin-left: 95px;
    margin-top: 30px;
}
.services-list-img{
    width: 285px;
    height: 206px;
    float: right;
}
.chain{
    border: 1px solid #18CFAB;
    width: 43px;
    height: 43px;
    border-radius: 26px;
    color: #18CFAB;
    margin-right: 5px;
}
.squad{
    border: 1px solid #18CFAB;
    background: #18CFAB;
    width: 43px;
    height: 43px;
    border-radius: 26px;
    color: white;
}
.fa-link{
    margin-left: 13px;
    margin-top: 13px;
}
.fa-square{
    margin-left: 13px;
    margin-top: 13px;
}
.big-green-text{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-left: 79px;
    margin-bottom: 3px;
}
.little-green-text{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
    margin-left: 110px;
    margin-top: 1px;
}
.creative-hr{
    width: 285px;
    height: 4px;
    border: 1px #18CFAB;
    background: #18CFAB;
}
.services-imgs-special{
    display: flex;
    flex-direction: row;
}
.services-imgs-special-2{
    display: flex;
    flex-direction: row;
    margin-right: 357px;
}
.services-imgs-special.item{
    float: right;
}
#nodisp{
    display: none;
}
#nodisp2{
    display: none;
}
#nodisp3{
    display: none;
}
.services-imgs-all{
    display: flex;
    flex-direction: column;
}
.p-button{
    background: #18CFAB;
    border: 1px solid #18CFAB;
    width: 168px;
    height: 63px;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    margin-left: 860px;
    margin-top: 105px;
    margin-bottom: 105px;
}
.p-button-text{
    position: absolute;
    margin-left: -90px;
    margin-top: 7px;
    font-size: 15px;
    font-weight: 600;
}
.fa-plus{
    margin-top: 5px;
    margin-right: 105px;
}
.template-hr-item5{
    width: 79px;
    margin-right: 900px;
    height: 1px;
    background-color: #18CFAB;
    border: 1px #18CFAB;
}
.template-hr-item6{
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    border: 1px #18CFAB;
    margin-right: 880px;
    margin-top: -6px;
}
.breaking-news{
    display: flex;
    flex-direction: column;
}
.breaking-news-blocks{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 380px;
}
.breaking-news-blocks2{
    display: flex;
    flex-direction: row;
    margin-left: 380px;
    margin-top: -60px;
}
.img-block{
    margin-bottom: 100px;
    margin-right: 4px;
}
.img-text-block{
    width: 261px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
    margin-top: -4px;
}
.img-text-block2{
    width: 261px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
    margin-top: -4px;
}
.img-block-img{
    margin-right: 20px;
    margin-top: 10px;
}
.img-block-date {
    width: 70px;
    height: 53px;
    margin-left: 193px;
    background: #203E38;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    text-transform: capitalize;
    color: white;
    position: absolute;
    margin-top: -212px;
}
.img-block-date2{
    width: 70px;
    height: 53px;
    margin-left: 193px;
    background: #203E38;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    text-transform: capitalize;
    color: white;
    position: absolute;
    margin-top: -212px;
}
.img-block-text1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: #717171;
    margin-left: -25px;
}
.img-block-text2{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #777777;
    word-spacing: 3px;
    margin-left: -45px;
    margin-top: -10px;
}
.img-link{
    text-decoration: none;
}
.img-block:hover .img-block-date {
    background-color: #18CFAB;
}
.img-block:hover .img-block-date2{
    background-color: #18CFAB;
}
.img-block:hover .img-block-text1{
    color: #18CFAB;
}
.people-say{
    width: 1900px;
    height: 853px;
    background-image: url("../img/Sections background/section-3.jpg");
    left: -1px;
    margin-left: -8px;
    margin-bottom: -51px;
}
.about-ham{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 75px;
    padding-top: 125px;
}
.template-hr-item7{
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    border: 1px #18CFAB;
    margin-right: 920px;
}
.template-hr-item8{
    width: 79px;
    height: 1px;
    background-color: #18CFAB;
    border: 1px #18CFAB;
    margin-top: -5px;
}
.quotes{
    color: #18CFAB;
    font-size: 20px;
    margin-left: 925px;
    margin-top: 65px;
}
.meaning-text{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
    text-align: center;
    width: 1128px;
    height: 45px;
    margin-left: 390px;
    margin-top: 45px;
    line-height: 30px;
}
.slider-list{
    width: 1900px;
    height: 370px;
    margin: 30px auto 1px;
    overflow: hidden;
}
.sl-nav-item{
    transform: none !important;
    margin-left: -40px;
}
.slider-nav{
    width: 500px;
    height: 85px;
    margin-left: 707px;
    margin-top: 60px;
}
.sl-nav-img{
    border: 6px solid rgba(51, 147, 99, 0.2);
    border-radius: 80px;
    width: 58px;
    height: 58px;
}
.slider-big-face{
    border: 10px solid rgba(51, 147, 99, 0.2);
    border-radius: 80px;
    margin-left: 865px;
    width: 143px;
    height: 142px;
}
.slider-big-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    width: 1128px;
    height: 45px;
    text-align: center;
    margin-left: 370px;
}
.slider-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-left: 880px;
    margin-top: 60px;
}
.slider-rang{
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: #BBBBBB;
    margin-left: 917px;
}
.slider-span{
    color: transparent;
}
.slider-nav .slick-track{
    height: 85px;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: -12px;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}
.next-btn{
    width: 31px;
    height: 31px;
    font-size: 16px;
    color: white;
    background: transparent;
    border: 1px solid transparent;
    font-weight: 600;
    outline: none;
}
.next-btn:hover{
    background: #18CFAB;
    border: 1px solid #18CFAB;
}
.back-btn{
    width: 31px;
    height: 31px;
    font-size: 16px;
    color: white;
    background: transparent;
    border: 1px solid transparent;
    font-weight: 600;
    outline: none;
}
.back-btn:hover{
    background: #18CFAB;
    border: 1px solid #18CFAB;
}
.footer{
    width: 1900px;
    margin-left: -8px;
    height: 121px;
    background-color: #22353F;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
}
.footer-text{
    margin-left: 810px;
    margin-top: 50px;
    padding-top: 57px;
    word-spacing: 2px;
}
.footer-link{
    color: #18CFAB;
    text-decoration: none;
}